.parallax{
    perspective: 5px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.parallax-layer{
    position:absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right:0;
}

.wardrobe{
    background-image: url("../img/wardrobe.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 56.25vw;
}

.flask3{
    background-image: url("../img/flask3.png");
    width: 11.35vw;
    height: 13.4vw;
    background-repeat: no-repeat;
    background-size: contain;
    top: 76%;
    left: 49%;
    z-index: 2;
}

.space{
    height: 200vh;
}

.plug3{
    background-image: url("../img/plug3.png");
    width: 1.82vw;
    height: 1.3vw;
    background-size: contain;
    top: 42.3vw;
    left: 53.75vw;
    z-index: 1;
}

.plugs-container {
    transform: translateZ(3px) scale(0.4);
    z-index: 1;
    width: 100%;
}